{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <h1>{{category.name}}</h1>
</div>


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            {% for product in products %}

            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" />
                    <div class="card-body p-4" style="background-color: #EEE8E8">
                        <div class="text-center">
                            <p style="color: inherit">{{ product.category.name }}</p>
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                        </div>
                    </div>
                     
                    <div class="card-footer p-4 pt-0 border-top-0" style="background-color: #EEE8E8">
                        <div class="text-center"><a class="btn btn-light mt-auto" style="border-color:black " href="{% url 'product' product.slug %}">Ver producto</a></div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</section>
            

{% endblock %}